RewriteEngine on

RewriteRule ^manager mailbox.php
RewriteRule ^user user.php
RewriteRule ^admin admin.php
RewriteRule ^login admin.php
RewriteRule ^add/(domain|mailbox|aliasdomain|domainadmin|alias) add.php?$1
RewriteRule ^edit/(domain|mailbox|aliasdomain|domainadmin|alias)/(.*) edit.php?$1=$2
RewriteRule ^delete/(.*)/(.*) delete.php?$1=$2
